extends layout

block head
    style.
        #welcome {
            background-image: url('../images/finguers.jpg');
            background-position: top right;
        }

        //- #welcome .container{
        //-     padding: 15px 25px;
        //- }

        #welcome h1,
        #welcome p {
            color: rgba(250, 250, 250, .7);
            //- display: inline;
            margin: 0;
        }

        #welcome h1{
            font-size: 48px;
        }

        #welcome p{
            font-size: 30px;
        }

        #asistencia {
            padding: 20px 25px; 
            font-size: 24px;
        }

        #asistencia > div {
            margin: 20px 0 5px 0;
        }

        #asistencia > div a{
            border: 1px;
            padding: 5px 15px;
            color: white;
            background-color: #607D8B;
            font-size: 26px;
            text-decoration: none;
        }


        #placeInfo {
            max-width: calc(100% - 20px);
            width: 780px;
            height: calc(100vh - 20px);
            top: 10px;
            margin: 0 10px;
            display: block;
            padding: 0;
            z-index: 10;
            position: fixed;
            background-color: white;
            box-shadow: 0 0 10px 1px grey;
            overflow-x: auto;
            color: #607D8B;
        }

        #placeInfo .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px 20px;
            font-size: 20px;
        }

        #placeInfo .box {
            padding: 50px 175px;
        }

        #placeInfo .box > div{
            padding: 5px 0px;
        }

        @media only screen and (max-width: 800px) {
            //- #placeInfo {
            //-     max-width: calc(100% - 20px);
            //-     left: 10px;
            //- }

            #placeInfo .box {
                padding: 35px 5px;
            }
        }
        
        #placeInfo .text-left {
            text-align: left;
            display: inline-block;
            vertical-align: middle;
        }

        #placeInfo .text-right {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
        }

        #placeInfo .img {
            margin: 0 5px;
        }

        #placeInfo .img img {
            width: 80px;
            height: initial;
        }

        #placeInfo .txt {
            padding: 0 5px;
            width: calc(100% - 91px);
        }
        
        #placeInfo .txt p {
            font-size: 26px;
            font-weight: bold;
            margin: 0;    
            line-height: 27px;
        }

        #placeInfo .txt span{
            font-size: 20px;
            display: block;    
            line-height: 21px;
        }

        #places .card-box {
            width: 96%;
            box-sizing: border-box;
            display: inline-block;
            margin: 2%;
            box-shadow: 1px 1px 5px -1px black;
        }

        #places .card-box:active,
        #places .card-box:focus {
            box-shadow: 0px 0px 1px 0px black;
        }

        #places .card-image, .card-text {
            width: 50%;
            height: 150px;
            display: inline-block;
            vertical-align: top;
            position: relative;
        }

        #places .card-text .text {
            padding: 6%;
            font-size: 16px;
            line-height: 20px;
        }

        #places .card-text .text p {
            padding: 0 6%;
            color: #808080;
        }

        #places .card-text .link {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            height: 20px;
        }

        #places .card-text .link span {
            border: 1px;
            padding: 5px 15px;
            color: white;
            background-color: #607D8B;
            font-size: 13px;
        }

        #footer p{
            padding: 15px;
            margin: 0;
            color: white;
        }
    script.
        var showInfo, hideInfo;
        window.onload = function(){
            placeInfo = document.getElementById('placeInfo');
            showInfo = function(){
                placeInfo.style.display = 'block';
            }
            hideInfo= function() {
                placeInfo.style.display = 'none';
            }
        }

block content

    #welcome.page.background
        .container
            p.font Te queremos con nosotros
            p.font en nuestro día del
            h1.font  "Sí quiero"

    #placeInfo(style="display: none")
        .close.fa.fa-times(onclick="hideInfo()")
        .box
            div
                .text-right.txt
                    p.font Recepción de bienvenida
                    span.font Hotel Las Casas del Consul 
                    span.font Viernes 17, 21:00h
                .text-right.img
                    img(src="/images/dia_consul.png")
            div
                .text-left.img
                    img(src="/images/dia_salvador.png")
                .text-left.txt
                    p.font Ceremonia 
                    span.font Sacra Capilla del Salvador
                    span.font Sábado 18, 13:00h
            div
                .text-right.txt
                    p.font Autobús de ida
                    span.font Al Caserio del Dean de Úbeda
                    span.font Sábado 18, 14:00h
                .text-right.img
                    img(src="/images/dia_bus.png")
            div
                .text-left.img
                    img(src="/images/dia_combite.png")
                .text-left.txt
                    p.font Celebración y convite 
                    span.font Caserio del Dean de Úbeda
            div
                .text-right.txt
                    p.font Autobús de vuelta 
                    span.font A la Plaza del ayuntamiento
                    span.font A partir de las 20:00h
                .text-right.img
                    img(src="/images/dia_bus.png")
            div
                .text-left.img
                    img(src="/images/dia_cerros.png")
                .text-left.txt
                    p.font Visita turística 
                    span.font Conoce Úbeda con nosotros
                    span.font Domingo 19, 11:00h

    #places.page

        #asistencia
            p.font.unmar Recuerda:
            p.font.unmar 18 de Mayo 2019, 13:00h
            p.font.unmar Capilla del Salvador, Úbeda
            //- div.block.text-center
                //- a.font(href="/invitado") Confirma tu asistencia
            div.block.text-center
                a.font(onclick="showInfo()") Los detalles

        a.card-box(href="/sitios/LosLugares")
            .card-image.background(style="background-image: url('../images/elsalvador.jpg');")
            .card-text
                .text
                    p Los Lugares de la boda
                .link
                    span Ver más

        //- a.card-box(href="/sitios/eldean")
        //-     .card-text
        //-         .text
        //-             p El Caserío del Dean
        //-         .link
        //-             span Ver más
        //-     .card-image.background(style="background-image: url('../images/eldean.jpg');")

        a.card-box(href="/sitios/DeTuristeo")
            .card-image.background(style="background-image: url('../images/turisteo.jpeg');")
            .card-text
                .text
                    p Monumentos y visitas
                .link
                    span Ver más

        a.card-box(href="/sitios/PaDormir")
            .card-text
                .text
                    p Hoteles y Hospedajes
                .link
                    span Ver más
            .card-image.background(style="background-image: url('../images/consul.jpg');")

        a.card-box(href="/sitios/DeTapas")
            .card-image.background(style="background-image: url('../images/canatapa.jpg');")
            .card-text
                .text
                    p Cañas, tapas y compras
                .link
                    span Ver más

        //- .card-box
        //-     .card-text
        //-         .text
        //-             p Viaje de Novios
        //-         .link
        //-             a Ver más
        //-     .card-image.background(style="background-image: url('../images/madagascar.jpg');")

    #video(style="padding: 5px")
        //- p Porqué Úbeda
        iframe(style="width: 100%; height: initial;" src="https://www.youtube.com/embed/pqu3RGo0pSM" frameborder="0" 
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)   
        
    footer#footer(style="line-height: 18px")
        p No dudes de que tendrás tu invitación con toda la información necesaria, pero hemos pensado que tenerla accesible puede resultar de ayuda.

