doctype html
html
    head
        title Maria y Rafael
        meta(name="description" content="Te queremos con nosotros en nuestro día del Sí quiero")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(property="og:title" content="Maria y Rafael")
        meta(property="og:description" content="Te queremos con nosotros en nuestro día del Sí quiero")
        meta(property="og:url" content="https://mariayrafael.family")
        meta(property="og:image" content="https://mariayrafael.family/images/abrazo.jpg")
        meta(property="og:image:width" content="200")
        meta(property="og:image:height" content="200")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Maria y Rafael")

        link(rel="shortcut icon" type="image/ico" href="/images/favicon.ico")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

        block head

        script.
            if( location.hostname != 'localhost' && location.protocol != 'https:' ){
                window.location.href = 'https://mariayrafael.family';
            }

    body
        block content
        block scripts

        //- Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-128594106-1")
        script(type="text/javascript").
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            if ( String('#{page}').length ) {
                gtag('config', 'UA-128594106-1', {
                    'interest' : 'place'
                });
            }

        //- Inspectlet Asynchronous Code
        script(type="text/javascript").
            (function() {
                window.__insp = window.__insp || [];
                __insp.push(['wid', 1528983294]);
                var ldinsp = function(){
                    if(typeof window.__inspld != "undefined") return;

                    window.__inspld = 1;
                    var insp = document.createElement('script');
                    insp.type = 'text/javascript';
                    insp.async = true;
                    insp.id = "inspsync";
                    insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1528983294&r=' + Math.floor(new Date().getTime()/3600000);

                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(insp, x);
                };
                setTimeout(ldinsp, 0);
            })();
