extends layout

block head
    style.
        p {

            font-size: 14px;
            line-height: 18px;
        }

        .d-block {
            margin: 5% 2%;
        }

        .d-block h2 {
            font-size: 20px;
        }

        .d-block p {
            margin: 0;
        }

        .d-block img {
            margin-left: 4%;
        }

        .t-title {
            margin: 2% 0;
        }

        .t-left {
            width: 65%;
            display: inline-block;
            vertical-align: top;
            text-align: justify;
        }

        .t-full {
            display: block;
            text-align: justify;
            font-size: 14px;
            line-height: 18px;
        }

        .i-right {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }

        .colums-2 {
            position: relative;
            width: 49%;
            display: inline-block;
            padding: 0 2%;
            text-align: center;
            vertical-align: top;
            margin-bottom: 5px;
        }

        .colums-2 h3 {
            margin: 5px;
            font-size: 16px;
        }

        .colums-2 img {
            max-width: 100%;
        }

        .colums-2 p {
            text-align: justify;
            margin: 0;
        }

block content

    header#header
        a(href="/")
            i.fas.fa-chevron-left(style="position: absolute; top: 0; left: 0; margin: 15px")
        h2(style=" margin: 5px 0;")= title

    main(style="padding: 0 2%")
        div(style="margin: 0 -2%")
            img(src="http://www.passenger6a.es/wp-content/uploads/2017/08/001_DESTACADA-1200x750.jpg" style="width: 100%")
            h2(style="padding: 10px; margin-top: -50px; color: white; background-color: rgba(0, 0, 0, .35); position: relative; height: 45px; font-size: 24px") Madagascar, la jungla urbana

        div.d-block
            h2.t-title ¿Dónde?
            p.t-left Madagascar es la isla más grande de África y la cuarta más grande del mundo, y se encuentra rodeada íntegramente por el océano Índico. Está separada del resto del continente africano por el canal de Mozambique.
            img.i-right(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/MDG_orthographic.svg/250px-MDG_orthographic.svg.png")

        div.d-block
            h2.t-title ¿Qué hay allí?
            p.t-full Madagascar se separó del subcontinente indio hace 65 millones de años. Este largo aislamiento es la causa de la existencia en esta isla de multitud de especies únicas en el mundo, por lo que se le ha llamado a veces un mundo aparte.

        div.d-block
            p.t-full Su aislamiento ha favorecido la conservación en su territorio de multitud de especies únicas en el mundo, un 80 % de ellas endémicas de la isla. Las más notables son los lémures, el fosa carnívoro, cinco familias endémicas de aves y seis especies endémicas de baobabs.

        div
            div.colums-2
                img(src="https://i2.wp.com/vagamundosviajeros.com/wp-content/uploads/2015/10/12087299_10153636477054281_166801110155904572_o.jpg?resize=470%2C455&ssl=1")
                h3 Playas
                p Como toda isla que se precie, Madagascar disfruta de una playas de ensueño. Ifaty es una de esas playas en la que se puede disfrutar de la naturaleza virgen ¡Y prácticamente solos!
            div.colums-2
                img(src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Lake_Anosy%2C_Central_Antananarivo%2C_Capital_of_Madagascar%2C_Photo_by_Sascha_Grabow.jpg")
                h3 Ciudades
                p Tanto por su geografía, como por su historia, Antananarivo es una de las capitales más pintorescas del mundo con un pueblo muy amable y modesto.
            div.colums-2
                img(src="https://viajesviatamundo.com/images/imagenes_viajes/AFRICA/viajes_madagascar/Viajes_aventuras_madagascar_trekking.jpg")
                h3 Fauna
                p Los lémures son unos primates endémicos de la isla de Madagascar. El lémur de cola anillada es unos de los más conocidos de entre las más de cien especies de lémur que existen.
            div.colums-2
                img(src="https://cde.peru.com//ima/0/0/8/3/0/830640/924x530/avenida-baobabs.jpg")
                h3 Flora
                p Los árboles Baobab, de hasta 800 años de edad y 30 metros de altura, conocido localmente como Renala ("madre del bosque"), son un legado de los densos bosques tropicales que alguna vez florecieron en Madagascar.

        div.d-block
            h2.t-title Qué lo disfrutéis!!!
            p.t-full(style="padding-bottom: 10px;") Deseamos que nos acompañes en nuestra boda y que disfrutes al máximo con nosotros en Úbeda.
            p.t-full(style="padding-bottom: 10px;") Si además quieres ayudarnos a disfrutar de nuestra luna de miel en Madagascar, puedes hacerlo en este número:
            p(style="text-align: center; padding-bottom: 10px; font-size: 16px;") ES86 1465 0300 66 2047714124
            em(style="text-align: left") Prometemos mandarte una foto de todas formas ;D
            img(src="/images/nosotros.png" style="display: block; margin: 10px auto; padding-bottom: 10px; width: 50%")