extends layout

block head
    style.
        form {
            padding: 15px;
        }


        form .data {
            margin-bottom: 25px;
        }

        form .block,
        form label,
        form input[type="text"] {
            display: block;
            width: 100%;
        }

        form input {
            border: none;
            border-bottom: 1px solid grey;
            outline: none;
        }

        form input:focus {
            border: none;
            border-bottom: 3px solid #607D8B;
        }

        form label:not(.btn) {
            margin-bottom: 5px;
            font-weight: bold;
        }

        form label.btn {
            width: 45%;
            margin: 1%;
            padding: 1%;
            text-align: center;
            display: inline-block;
            border: 1px solid #607D8B;
        }

        form label.btn.more {
            width: 20%;
            margin-left: 5%;
        }

        form label.btn.less {
            width: 20%;
            margin-left: 3%;
        }

        form input:active + label.btn,
        form input:checked + label.btn {
            background-color: rgba(96, 125, 139, .5);
            border-color: rgba(96, 125, 139, .75);
            color: white;
        }

        form input[type="submit"]  {
            color: white;
            padding: 10px 25px;
            font-size: 18px;
            border-color: rgba(96, 125, 139, .75);
            background-color: rgba(96, 125, 139, .5);
        }

block content


    header#header
        a(href="/")
            i.fas.fa-chevron-left(style="position: absolute; top: 0; left: 0; margin: 15px")
        h2(style=" margin: 5px 0;")= title

    main#main
        form(method="POST" action="/")

            div#name.data
                label(for="") Sabiendo tu nombre podremos identificarte
                input(type="text" name="name" placeholder="Nombre")

            div#telefono.data
                label(for="") Sabiendo tu teléfono podremos contactarte
                input(type="tel" name="telefono" placeholder="Teléfono" required)

            div#adultos.data
                label(for="") Cuantos adultos seréis
                input#adultos_count(type="number" name="adultos" placeholder="Adultos" value="0" min="0")
                label.btn.more(onclick="count('adultos_count', true)") +
                label.btn.less(onclick="count('adultos_count', false)") -

            div#ninos.data
                label(for="") Cuantos niños vendrán con vosotros (mayores de 2 años)
                input#ninos_count(type="number" name="ninos" placeholder="Niños" value="0" min="0")
                label.btn.more(onclick="count('ninos_count', true)") +
                label.btn.less(onclick="count('ninos_count', false)") -

            div#viernes.data
                label(for="") Si puedes estar el viernes por la tarde prepararemos algo para ti

                input#viwernes_si.hidden(type="radio" name="viernes" value="Yes")
                label.btn(for="viwernes_si") ¡Claro que si!

                input#viwernes_no.hidden(type="radio" name="viernes" value="no")
                label.btn(for="viwernes_no") No creo que pueda

            div#domingo.data
                label(for="") Si puedes estar el domingo por la mañana prepararemos algo para ti

                input#domingo_si.hidden(type="radio" name="domingo" value="Yes")
                label.btn(for="domingo_si") ¡Claro que sí!

                input#domingo_no.hidden(type="radio" name="domingo" value="no")
                label.btn(for="domingo_no") No creo que pueda

            div#bus.data
                label(for="") Quieres ir en bus al convite(4-8km según ruta)

                input#bus_si.hidden(type="radio" name="bus" value="Yes")
                label.btn(for="viwernes_si") ¡Sí, lo prefiero!

                input#bus_no.hidden(type="radio" name="bus" value="no")
                label.btn(for="viwernes_no") No, iré por mi cuenta

            div#comentarios.data
                label(for="") Algo que debamos saber (alergias, intolerancias, dietas...)
                textarea(type="text" name="comments" placeholder="Comentarios")

            .text-center
                input(type="submit" value="Enviar")

    script.
        function count (id, add) {
            var input = document.getElementById(id);
            console.log(input)
            if (add) {
                input.value = Number(input.value) + 1;
            } else {
                input.value = Number(input.value)  - 1;
            }
            console.log(input.value)
        }

