extends layout

block head
    style.

        main {
            padding: 5px 15px;
            font-size: 14px;
        }

        main * {
            box-sizing: border-box;
        }

        header#header {
            box-shadow: 1px 1px 6px -1px grey;
        }

        .msg {
            width: calc(100vw - 20px);
            height: calc(100vh - 20px);
            top: 10px;
            left: 10px;
            margin: 0;
            padding: 25px 15px;
            z-index: 10;
            position: fixed;
            background-color: white;
            box-shadow: 0 0 10px 1px grey;
            overflow: scroll;
            color: #607D8B;
        }

        .msg .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px 20px;
            font-size: 20px;
            z-index: 10;
        }

        .msg h1 {
            position: relative;
            z-index: 1;
        }

        .msg .btn {
            width: 60%;
            padding: 10px;
            text-align: center;
            display: block;
            margin: 10px auto;
            border: 1px solid rgba(96, 125, 139, .75);
            background-color: rgba(96, 125, 139, .5);
            color: white;
        }

        #note {
            padding: 15px;
            border-radius: 3px;
            text-align: justify;
            border: 1px solid rgba(60, 140, 50, .5);
            background-color: rgba(60, 140, 50, .3);
        }

        form .data {
            margin-bottom: 25px;
        }

        form .block,
        form label,
        form input[type="text"],
        form input[type="tel"],
        form textarea {
            display: block;
            width: 100%;
        }

        form input,
        form textarea {
            border: none;
            border-bottom: 1px solid grey;
            outline: none;
        }

        form input:focus,
        form textarea:focus {
            border: none;
            border-bottom: 3px solid #607D8B;
        }

        form label:not(.btn) {
            margin-bottom: 5px;
            font-weight: bold;
        }

        form label.btn {
            width: 45%;
            margin: 1%;
            padding: 1%;
            text-align: center;
            display: inline-block;
            border: 1px solid #607D8B;
        }

        form input[type="number"] {
            display: inline-block;
            width: 50%;
        }

        form label.btn.more {
            width: 22%;
            margin: 0% 1% 0% 4%;
        }

        form label.btn.less {
            width: 22%;
            margin: 0%;
        }

        form input:active + label.btn,
        form input:checked + label.btn {
            background-color: rgba(96, 125, 139, .5);
            border-color: rgba(96, 125, 139, .75);
            color: white;
        }

        form input[type="submit"]  {
            color: white;
            padding: 10px 25px;
            font-size: 18px;
            border-color: rgba(96, 125, 139, 1);
            background-color: rgba(96, 125, 139, .75);
        }

block content


    header#header
        a(href="/")
            i.fas.fa-chevron-left(style="position: absolute; top: 0; left: 0; margin: 15px")
        h2(style=" margin: 5px 0;")= title

    main#main.page
        if error
            #error.msg
                i.close.fa.fa-times
                h1 Ups! Algo no fue bien
                p #{error}
                a.btn(href="/") Volver al inicio

        if invitado
            #invitado.msg
                i.close.fa.fa-times
                h1(style) Estupendo!
                p Todo se ha guardado bien y nos alegra mucho que estés con nosotros en este día #{invitado}
                a.btn(href="/") Volver al inicio

        p#note Puedes usar este pequeño formulario si te resulta más cómodo (se tarda menos de un minuto, lo hemos cronometrado), o puedes llamarnos... como prefieras!

        form(method="POST" action="/invitado")

            div#name.data
                label(for="") Sabiendo tu nombre podremos identificarte
                input(type="text" name="nombre" placeholder="Ejemplo: Maria y Rafael o tito Juancar... " required)

            div#telefono.data
                label(for="") Sabiendo tu teléfono podremos contactarte
                input(type="tel" name="telefono" placeholder="Ejemplo: 647647647" required)
                em(style="font-size: 12px") Usando el mismo teléfono podrás actualizar estos datos tantas veces como quieras, pero cuanto antes confirmes más fácil nos lo pones a los novios ;D

            div#adultos.data
                label(for="") Cuantos adultos seréis
                input#adultos_count(type="number" name="adultos" placeholder="Adultos" value="0" min="0" onchange="ensure('adultos_count')")
                label.btn.more(onclick="count('adultos_count', true)") +
                label.btn.less(onclick="count('adultos_count', false)") -

            div#ninos.data
                label(for="") Cuantos niños vendrán con vosotros (entre 2 y 16 años)
                input#ninos_count(type="number" name="ninos" placeholder="Niños" value="0" min="0" onchange="ensure('adultos_count')")
                label.btn.more(onclick="count('ninos_count', true)") +
                label.btn.less(onclick="count('ninos_count', false)") -

            div#viernes.data
                label(for="") Si puedes estar el viernes por la tarde prepararemos algo para ti

                input#viwernes_si.hidden(type="radio" name="viernes" value="true")
                label.btn(for="viwernes_si") ¡Claro que si!

                input#viwernes_no.hidden(type="radio" name="viernes" value="false")
                label.btn(for="viwernes_no") No creo que pueda

            div#domingo.data
                label(for="") Si puedes estar el domingo por la mañana prepararemos algo para ti

                input#domingo_si.hidden(type="radio" name="domingo" value="true")
                label.btn(for="domingo_si") ¡Claro que sí!

                input#domingo_no.hidden(type="radio" name="domingo" value="false")
                label.btn(for="domingo_no") No creo que pueda

            div#bus.data
                label(for="") Quieres ir en bus al convite (de 4 a 8km según ruta)

                input#bus_si.hidden(type="radio" name="bus" value="true")
                label.btn(for="bus_si") ¡Sí, lo prefiero!

                input#bus_no.hidden(type="radio" name="bus" value="false")
                label.btn(for="bus_no") No, iré por mi cuenta

            div#comentarios.data
                label(for="") ¿Algo que debamos saber?
                textarea(type="text" name="comentarios" placeholder="Alergias, intolerancias, dietas, movilidad, bebes...")

            .text-center
                input(type="submit" value="Enviar")

    script.
        function count (id, add) {
            var input = document.getElementById(id);
            if (add) {
                input.value = Number(input.value) + 1;
            } else {
                if(input.value > 0) {
                    input.value = Number(input.value)  - 1;
                }
            }
        }


        function ensure (id) {
            var input = document.getElementById(id);
            if(input.value < 0) {
                input.value = 0;
            }
        }

        $(document).ready(function() {
            $('.close').click(function() {
                $(this).closest('.msg').hide();
            });
        });

